body {
  background-color: #23272A;
  color: white;
}

.block {
	background-color: #2C2F33;
	color: white;
	border: 0px;
}

.breadcrumb {
	background-color: #2C2F33;
	color: white;
}

#box_block_float .block{
	height:auto;
	width: 500px;
}


#pageheader-middle-left img { -webkit-filter: grayscale(100%); 
}

.breadcrumb>li {
    display: inline-block;
    text-shadow: 0 0px 0 #fff000; 
}

.block .header h2 {
	display: block;
	padding: 3px 15px;
	font-weight: 700;
	line-height: 20px;
	color: #f9f9f9;
	/* text-shadow: 0 1px 0 rgba(255,255,255,.5); */
	text-transform: uppercase;
	font-size: 1.1em;
	word-wrap: break-word;
	margin: 0;
}

.course-content .current {
	background-color: #494f53;
}

a:link,
a:hover,
a:visited,
a:active,
span.flagged-tag a {
	color: #7289DA;
}

.path-grade-report-user .user-grade.generaltable .levelodd {
	background-color: #f9f9f900;
}

#pageheader-middle-right {
	min-height: 68px;
	background-color: #7289DA;
}

#pageheader-middle-left {
	background-color: #7289DA;
	
}

.calendar_event_course {
    background-color: #2C2f4f;
}

.block .minicalendar td.weekend {
    color:  #99AAB5;
}

#dock .dockedtitle{
	color: white;
	border:0px solid #ccc;
	text-shadow: 0 1px 1px rgba(255,255,255,0);
	background-image: linear-gradient(to bottom,#2C2F33,#2C2F33);
}

#dockeditempanel .dockeditempanel_content{
	background-color:#2C2f4f;
	box-shadow: none;
}
